
@{
    ViewBag.Title = "UserDashboard";
}

<h2>UserDashboard</h2>




<ul>

    <li>@Html.ActionLink("SocialService", "index", "Service")</li>
    <li>@Html.ActionLink("Grivanance", "index", "Grivanances")</li>
    <li>@Html.ActionLink("Events ", "Index", "Events")</li>

</ul>

