

@{
    ViewBag.Title = "Reports  ";
}


    <ul>
        <li>@Html.ActionLink("View Grivanances Reports ", "ReportGrivanance", "Grivanances")</li>

       
        <li>@Html.ActionLink("View Service Reports", "ReportService", "Service")</li>
        
        <li>@Html.ActionLink("View volunteer Reports", "ReportVolunteer", "Volunteer")</li>
       
   
     
    </ul>

